@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --color-morado-dark: rgba(90, 28, 88, 0.75);
    --color-morado-soft: rgba(107, 68, 123, 0.75);
    --color-rojo: #800000;
    --color-negro: rgba(0, 0, 0, 1);
    --color-plata: #C0C0C0;
    --color-cover: rgba(0, 0, 0, 0.75);
    --font-tattoo: 'Miltonian Tattoo', cursive;
    --font: 'Times New Roman', serif;
}

*,
*::after,
*::before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

h1{
    margin: 0;
}

h2{
    font-family: 'Miltonian Tattoo', cursive;
    font-size: 3.2rem;
}

h3{
    color: #800000;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
}

p, ol{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

a {
    color: var(--color-rojo);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: var(--font-tattoo);
    color: var(--color-negro);
}

body {
    background-image: linear-gradient(
        to bottom,
        var(--color-morado-dark),
        var(--color-morado-soft)),
        url("./assets/pattern.avif"
    );
}

header {
    background-color: var(--color-cover);
    color: var(--color-plata);
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    height: 10rem;
}

header img{
    width: 20rem;
}

header nav,
header nav div{
    display: flex;
    gap: 2rem;
}

header nav i{
    font-size: 2.8rem;
    cursor: pointer;
}

header .social{
    display: none;
}

section{
    width: 90%;
    margin: 0 auto;
    padding: 1.2rem;
    max-width: 1024px;
}

#hero{
    width: 100%;
    max-width: 100%;
    height: calc(100vh - 10rem);
    background-color: var(--color-cover);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#hero .logo{
    width: 90%;
    max-width: 40rem;
    border-radius: 50rem;
}

#hero a{
    background-color: var(--color-negro);
    color: var(--color-plata);
    border: solid 1px var(--color-plata);
    border-radius: 40px;
    font-size: 32px;
    font-family: 'Miltonian Tattoo', cursive;
    padding: 8px 24px;
    cursor: pointer;
}

#welcome{
    /* width: 90%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 1.2rem; */
    gap: 2rem;
    /* margin: 0 auto; */
}

#welcome .photo{
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
}

#gallery{
    /* width: 100%; */
    /* padding: 1.2rem; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#gallery div{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

#gallery img{
    width: 100%;
    margin: 0 auto;
    border: solid 4px var(--color-negro);
}

#blog{
    /* width: 100%; */
    /* padding: 1.2rem; */
}

#blog ol{
    padding-left: 2rem;
    margin-top: 2rem;
}

footer {
    background-color: var(--color-cover);
    color: var(--color-plata);
}

#map {
    width: 100%;
    /* padding: 1.2rem; */
}

#map div{
    width: 100%;
    text-align: center;
}

footer p{
    text-align: center;
}

@media (min-width: 768px) {
    header .social{
        display: flex;
    }

    #welcome{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        /* gap: 0; */
        margin: 0 auto;
    }

    #welcome span{
        grid-area: 1/1;
    }

    #welcome p{
        grid-area: 2/1;
    }

    #welcome img{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #gallery div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    #gallery div{
        grid-template-columns: repeat(4, 1fr);
    }
}